.wrapper-film {
  background-color: rgba(214, 209, 209, 0.808);
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  height: 120px;
  border-top: 1px dotted;
  position: bottom;
}

.wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company {
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 90%;
}

.wrapper-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logoCompany {
  display: flex;
  align-items: center;
}

.logoCompany img {
  width: 80px;
  height: auto;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 30px;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: 0.7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textCompany span:first-child {
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.textCompany span {
  display: block;
  line-height: 2;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.fide-logo img {
  width: 120px;
  float: right;
  vertical-align: middle;
}
